* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
body {
  /* background-image: url("../../public/bg.png");
  background-size: cover; */
}
#root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  --color-textColor: rgb(23, 23, 23);
  --color-logo: rgba(214, 45, 48, 1);
  --color-light: #ffffff;
  --color-black: #232f3e;
  --color-input: rgb(15, 15, 15);
  --color-inputFont: rgba(140, 140, 140, 1);
  --color-btnsign: rgba(229, 9, 20, 1);
  --color-blacklight: rgba(255, 255, 255, 0.75);
  .dark {
    --color-textColor: rgba(117, 117, 117, 1);
    --color-logo: rgba(214, 45, 48, 1);
    --color-light: #ffffff;
    --color-black: #232f3e;
    --color-input: rgba(51, 51, 51, 1);
    --color-inputFont: rgba(140, 140, 140, 1);
    --color-btnsign: rgba(229, 9, 20, 1);
    --color-blacklight: rgba(0, 0, 0, 0.75);
  }
  .light {
    --color-textColor: rgba(117, 117, 117, 1);
    --color-logo: rgba(214, 45, 48, 1);
    --color-light: #ffffff;
    --color-black: #232f3e;
    --color-input: rgba(51, 51, 51, 1);
    --color-inputFont: rgba(140, 140, 140, 1);
    --color-btnsign: rgba(229, 9, 20, 1);
    --color-blacklight: rgba(0, 0, 0, 0.75);
  }
}

ul {
  list-style-type: none;
}
button {
  cursor: pointer;
}
/* --color-textColor: rgba(117, 117, 117, 1);
--color-logo: rgba(214, 45, 48, 1);
--color-light: #ffffff;
--color-black: #232f3e;
--color-input: rgba(51, 51, 51, 1);
--color-inputFont: rgba(140, 140, 140, 1);
--color-btnsign: rgba(229, 9, 20, 1);
--color-blacklight: rgba(0, 0, 0, 0.75); */
